<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Eid-Ul-Fitra : Wishes</title>

  <link rel="stylesheet" href="style.css" type="text/css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
</head>

<body>


  <div class="background">
    <div class="black">
      <div class="button">
        <button>Get Quote</button>
      </div>

    </div>
  </div>
  <div class="card" id="card">
    <div class="front">

    </div>
    <div class="inside">
      <div class="greet">
        <h2>Eid al-Fitr Mubarak</h2>
        <h2 class="urdu">عید الفطر مبارک</h2>

      </div>
      <div class="quotes">
        <p id="quote"></p>
        <img class="copy" src="copy.svg" alt="">
        
      </div>
      
      
    </div>
  </div>

  <script src="/script.js"></script>

</body>

</html>